/target/*
!target/universal
/target/universal/*
!target/universal/stage
logs
project/project
project/target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/activator
/activator-launch-1.2.12.jar
/.ensime
/.ensime_cache
*.sublime-project
*.sublime-workspace